ul{
    height: 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: #6a6a6c;
    font-family: 'Lucida Grande';
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 150%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgentete{
    background-image: url(../Images/holographic-white-background-iridescent-frame-abstract-design-vector_53876-157574\ 1\ \(1\).png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin: 0;
    padding: 0;
}

.fleche{
    cursor: pointer;
}

.textep1{
    color: #6a6a6c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

h1{
    font-size: 300%;
    letter-spacing: 15px;
    color: #6a6a6c;
}

h2{
    font-size: 250%;
    letter-spacing: 10px;
    color: #6a6a6c;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 120px;
   
}

    .scroll{
        Padding-top: 10%;
        font-size: 200%;
        font-family: 'Lucida Sans';

    }

.page2{
    background-color: #f9f1ef;
    height: 70vh;
}

.nicetomeetyou{
    color: #6a6a6c;
    background-color: #f9f1ef;
    background-image: url(../Images/fond\ bubble\ p2.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 300%;
}

.homebutton{
   
    margin-top: 75px;
    height: 50px;
    text-align: left;
    color: #6a6a6c;
    cursor: pointer;
   
}

.otherbutton{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    height: 50px;
    width: 400px;
    margin-right: 0%;
    cursor: pointer;
    
    
}

h3{ 
    font-size: 200%;
    color: #6a6a6c;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10%;
    
}

.mesprojets{
    padding: 50px;
    background-color: #f9f1ef;
    height: 1200px;
}

.mesrondsligne1{
    background-color: #f9f1ef;
    margin: 100px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.mesrondsligne2{
    background-color: #f9f1ef;
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}

.rond1{
    height: 300px;
    width: 300px;
    background-color: #eaeaf16e;
    border-radius: 150px;
    border: #e7bbf07a solid;
    box-shadow: inset 10.81px 10.81px 29px #de7af760, inset -10.81px -10.81px 29px #f1e4f1;

}
.p1{
    justify-content: center;
}

.rond2{
    height: 300px;
    width: 300px;
    background-color: #aeb0f36e;
    border-radius: 150px;
    border: #e7bbf07a solid;
    box-shadow: inset 10.81px 10.81px 29px #eebbeb, inset -10.81px -10.81px 29px #f1e4f1;

}

.rond3{
    height: 300px;
    width: 300px;
    background-color: #aeb0f36e;
    border-radius: 150px;
    border: #e7bbf07a solid;
    box-shadow: inset 10.81px 10.81px 29px #eebbeb, inset -10.81px -10.81px 29px #f1e4f1;
}

.rond4{
    height: 300px;
    width: 300px;
    background-color: #aeb0f36e;
    border-radius: 150px;
    border: #e7bbf07a solid;
    box-shadow: inset 10.81px 10.81px 29px #eebbeb, inset -10.81px -10.81px 29px #f1e4f1;
}

.rond5{
    height: 300px;
    width: 300px;
    background-color: #aeb0f36e;
    border-radius: 150px;
    border: #e7bbf07a solid;
    box-shadow: inset 10.81px 10.81px 29px #eebbeb, inset -10.81px -10.81px 29px #f1e4f1;
}


.soft-hard-skill{
    background-image: url(../Images/molecule-cosmetics-background_173387-843.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 2000px;
    width: 100%;
    background-color: #f9f1ef;
}

.imagecompetence{
    
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.textecompetence{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    color: #6a6a6c;
    font-size: 150%;
    text-align: center;
}


.hardskill{
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.skillbar .namehskill{
    display: flex;
    flex-direction: column;
    color: #6a6a6c;
    font-size: 2em;
    font-weight: 500;
    background-color: #f9f1ef00;
}

.skillbar .namehskill span{
    padding: 10px 20px;
    margin: 15px 0;
    box-shadow: 9.31px 9.31px 21px #D1D3D7, -9.31px -9.31px 21px #FFFFFF;
    text-align: center;
    border-radius: 50px;
    border: 5px solid #f9f1ef;
    transition: 0.2s;
    
}

.skillbar .logo{
    display: flex;
    flex-direction: column;
    color: #6a6a6c;
    font-size: 2em;
    font-weight: 500;
    background-color: #f9f1ef00;
    margin-right: 8%;
    justify-content: space-between;
}

  

.namehskill{
    margin-right: 40px;
}
.skillbar .namehskill span:hover{
    color: plum;
    margin: 15px 0;
    box-shadow: 9.31px 9.31px 21px #D1D3D7, -9.31px -9.31px 21px #FFFFFF,
      inset 9.31px 9.31px 21px #D1D3D7, inset -9.31px -9.31px 21px #FFFFFF;
    cursor: pointer;
}

.skillbar{
    display: flex;
    border: 2px solid;
    padding: 4em;
    border-radius: 30px;
    color: #6a6a6c56;
}

.bar {
    width: 400px;
    height: 30px;
    background-color: #6a6a6c5b;
    border-radius: 20px;
    box-shadow: inset 6px 6px 21px #D1D3D7, inset -6px -6px 8px #FFFFFF;
}


.barcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
}




.bar .progress{
    height: 100%;
    background:linear-gradient(to right,#d374a491, #f9f1ef) ;
    border-radius: 20px;
} 
.bar:nth-child(1) .progress{
   width: 50%;
}

.bar:nth-child(2) .progress{
    width: 50%;
}

.bar:nth-child(3) .progress{
    width: 50%;
}

.bar:nth-child(4) .progress{
    width: 50%;
}

.bar:nth-child(5) .progress{
    width: 50%;
}

.bar:nth-child(6) .progress{
    width: 50%;
}

.bar:nth-child(7) .progress{
    width: 50%;
}

.bar:nth-child(8) .progress{
    width: 50%;
}

.bar:nth-child(9) .progress{
    width: 50%;
}

